<app-header></app-header>
<!--<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="./assets/estadio1.jpg" alt="Primera slide" width="570" height="462">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="./assets/estadio2.jpg" alt="Segunda slide" width="570" height="462">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="./assets/estadio3.jpg" alt="Tercer slide" width="570" height="462">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="./assets/estadio4.jpg" alt="Cuarto slide" width="570" height="462">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="./assets/estadio5.jpg" alt="Quinto slide" width="570" height="462">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="./assets/estadio6.jpg" alt="Quinto slide" width="570" height="462">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>-->
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
    	<router-outlet></router-outlet>
    </div>
  </div>
</div>
