<div class=row style="background-color: #003300;">
	<div class=col-0>
	</div>
	<div class=col-2>
		<img class="d-block w-100" src="./assets/COPAAMERICA.png" width="143" height="150" >
	</div>
	<div class=col-5>
<iframe src="http://free.timeanddate.com/countdown/i6sx3lo4/n5289/cf100/cm0/cu4/ct0/cs1/ca0/co1/cr0/ss0/cacff0/cpcff0/pc030/tc060/fs300/szw800/szh150/tatFALTAN/tacff0/tpt%C2%A1YA%20LLEG%C3%93%20LA%20COPA!/tpcff0/iso2019-06-14T21:30:00" allowTransparency="true" frameborder="0" width="800" height="150"></iframe>
	</div>
</div>
<div class=row style="background-color: #003300;">
	<div class=col-12>
		<div class="bd-example">
		  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
		    <ol class="carousel-indicators">
		      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
		      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
		      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
		      <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
		      <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
		    </ol>
		    <div class="carousel-inner">
		      <div class="carousel-item active">
		        <img class="d-block w-100" src="./assets/estadio1.jpg" alt="Primera slide" width="570" height="462">
		        <div class="carousel-caption d-none d-md-block">
		          <button type="button" class="btn btn-default info" data-toggle="tooltip" data-placement="top" title="+INFO" onclick="location.href='https://es.wikipedia.org/wiki/Estadio_Morumbi'"><i class="fas fa-info-circle fa-4x"></i></button>
		        </div>
		      </div>
		      <div class="carousel-item">
		             <img class="d-block w-100" src="./assets/estadio2.jpg" alt="Segunda slide" width="570" height="462">
		        <div class="carousel-caption d-none d-md-block">
		        	<button type="button" class="btn btn-default info" data-toggle="tooltip" data-placement="top" title="+INFO" onclick="location.href='https://es.wikipedia.org/wiki/Arena_Corinthians'"><i class="fas fa-info-circle fa-4x"></i></button>
		        </div>
		      </div>
		      <div class="carousel-item">
		      <img class="d-block w-100" src="./assets/estadio3.jpg" alt="Tercer slide" width="570" height="462">
		        <div class="carousel-caption d-none d-md-block">
		          <button type="button" class="btn btn-default info" data-toggle="tooltip" data-placement="top" title="+INFO" onclick="location.href='https://es.wikipedia.org/wiki/Arena_Fonte_Nova'"><i class="fas fa-info-circle fa-4x"></i></button>
		        </div>
		      </div>
		      <div class="carousel-item">
		      <img class="d-block w-100" src="./assets/estadio4.jpg" alt="Cuarto slide" width="570" height="462">
		        <div class="carousel-caption d-none d-md-block">
		          <button type="button" class="btn btn-default info" data-toggle="tooltip" data-placement="top" title="+INFO" onclick="location.href='https://es.wikipedia.org/wiki/Estadio_Mineir%C3%A3o'"><i class="fas fa-info-circle fa-4x"></i></button>
		        </div>
		      </div>
		      <div class="carousel-item">
		      <img class="d-block w-100" src="./assets/estadio5.jpg" alt="Quinto slide" width="570" height="462">
		        <div class="carousel-caption d-none d-md-block">
		          <button type="button" class="btn btn-default info" data-toggle="tooltip" data-placement="top" title="+INFO" onclick="location.href='https://es.wikipedia.org/wiki/Arena_do_Gr%C3%AAmio'"><i class="fas fa-info-circle fa-4x"></i></button>
		        </div>
		      </div>
		      <div class="carousel-item">
		      <img class="d-block w-100" src="./assets/estadio6.jpg" alt="Sexto slide" width="570" height="462">
		        <div class="carousel-caption d-none d-md-block">
		          <button type="button" class="btn btn-default info" data-toggle="tooltip" data-placement="top" title="+INFO" onclick="location.href='https://es.wikipedia.org/wiki/Estadio_de_Maracan%C3%A1'"><i class="fas fa-info-circle fa-4x"></i></button>
		        </div>
		      </div>
		    </div>
		    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
		      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		      <span class="sr-only">Previous</span>
		    </a>
		    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
		      <span class="carousel-control-next-icon" aria-hidden="true"></span>
		      <span class="sr-only">Next</span>
		    </a>
		  </div>
		</div>
	</div>
</div>