<div class="container-fluid"> 
  <div class="row">
      <div class="col-lg-4 col-sm-6">
          <table class="table  table-striped table-dark" style="background-color: #1b5e20;">
              <thead>
                  <th>Nombre</th>
                  <th>Alias</th>
              </thead>
              <tbody>
                <tr *ngFor = "let seleccion of seleccionService.sel.selecciones">
                    <td> {{ seleccion.name }}</td>
                    <td> {{ seleccion.alias }}</td>
                    <td>
                        <button (click)="editSeleccion(seleccion)" type="button" class="btn btn-default" style="color: #FFFFFF;"> <i class="fas fa-edit"></i></button>  
                        <button (click)="deleteSeleccion(seleccion._id, seleccionForm)" type="button" class="btn btn-default" style="color: #FFFFFF;"><i class="fas fa-trash"></i></button>
                      </td>
                </tr>
              </tbody>
          </table>
      </div>
    <div class="col-lg-8 col-sm-6">
      <div class="row">

      </div>
      <div class="card">
          <h5 class="card-header">Editar</h5>
          <div class="card-body">
            <form #seleccionForm="ngForm" >
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="seleccionService.selectedSeleccion._id">
                <div class="row">
                  <div class="input-field col-s12">
                    <input type="text" name="name" #name="ngModel" [(ngModel)]="seleccionService.selectedSeleccion.name" placeholder="Ingrese Nombre">
                  </div>
                  <div class="input-field col-s12">
                    <input type="text" name="alias" #name="ngModel" [(ngModel)]="seleccionService.selectedSeleccion.alias" placeholder="Ingrese Alias">
                  </div>
                    <div class="input-field col-s12">
                      <button class="btn right" style="margin-left: 2px;" (click)="resetForm(seleccionForm)">Limpiar</button>
                      <button class="btn right" style="margin-left: 2px;" (click)="addSeleccion(seleccionForm)">Guardar</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>